<!DOCTYPE html>
<html>
<head>
    <title>Sign Out</title>
</head>
<body>
    <h1>Sign Out</h1>
    
    <p>Please enter your name to sign out:</p>
    
    <form method="POST" action="/signout">
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname" required>
        <br>
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname" required>
        <br>
        <input type="submit" value="Sign Out">
      </form>
    
</body>
</html>
